
@media screen and (max-width : 640px){
    .herosec{
        flex-direction: column;
        flex-direction: column-reverse;
        width: 95%;
        justify-content: space-around;
        align-items: center;
    }
    
}